---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    api-approved.kubernetes.io: unapproved, experimental v1alpha2 changes
    controller-gen.kubebuilder.io/version: v0.19.0
  name: bucketaccesses.objectstorage.k8s.io
spec:
  group: objectstorage.k8s.io
  names:
    kind: BucketAccess
    listKind: BucketAccessList
    plural: bucketaccesses
    singular: bucketaccess
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: BucketAccess is the Schema for the bucketaccesses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of BucketAccess
            properties:
              bucketAccessClassName:
                description: bucketAccessClassName selects the BucketAccessClass for
                  provisioning the access.
                maxLength: 253
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: bucketAccessClassName is immutable
                  rule: self == oldSelf
              bucketClaims:
                description: |-
                  bucketClaims is a list of BucketClaims the provisioned access must have permissions for,
                  along with per-BucketClaim access parameters and system output definitions.
                  At least one BucketClaim must be referenced.
                  Multiple references to the same BucketClaim are not permitted.
                items:
                  description: |-
                    BucketClaimAccess selects a BucketClaim for access, defines access parameters for the
                    corresponding bucket, and specifies where user-consumable bucket information and access
                    credentials for the accessed bucket will be stored.
                  properties:
                    accessMode:
                      description: |-
                        accessMode is the Read/Write access mode that the access should have for the bucket.
                        Possible values: ReadWrite, ReadOnly, WriteOnly.
                      enum:
                      - ReadWrite
                      - ReadOnly
                      - WriteOnly
                      type: string
                    accessSecretName:
                      description: |-
                        accessSecretName is the name of a Kubernetes Secret that COSI should create and populate with
                        bucket info and access credentials for the bucket.
                        The Secret is created in the same Namespace as the BucketAccess and is deleted when the
                        BucketAccess is deleted and deprovisioned.
                        The Secret name must be unique across all bucketClaimRefs for all BucketAccesses in the same
                        Namespace.
                      maxLength: 253
                      minLength: 1
                      type: string
                    bucketClaimName:
                      description: |-
                        bucketClaimName is the name of a BucketClaim the access should have permissions for.
                        The BucketClaim must be in the same Namespace as the BucketAccess.
                      maxLength: 253
                      minLength: 1
                      type: string
                  required:
                  - accessMode
                  - accessSecretName
                  - bucketClaimName
                  type: object
                minItems: 1
                type: array
                x-kubernetes-list-map-keys:
                - bucketClaimName
                x-kubernetes-list-type: map
                x-kubernetes-validations:
                - message: bucketClaims list is immutable
                  rule: self == oldSelf
              protocol:
                description: protocol is the object storage protocol that the provisioned
                  access must use.
                enum:
                - S3
                - Azure
                - GCS
                type: string
                x-kubernetes-validations:
                - message: protocol is immutable
                  rule: self == oldSelf
              serviceAccountName:
                description: |-
                  serviceAccountName is the name of the Kubernetes ServiceAccount that user application Pods
                  intend to use for access to referenced BucketClaims.
                  This has different behavior based on the BucketAccessClass's defined AuthenticationType:
                  - Key: This field is ignored.
                  - ServiceAccount: This field is required. The driver should configure the system so that Pods
                    using the ServiceAccount authenticate to the object storage backend automatically.
                maxLength: 253
                type: string
                x-kubernetes-validations:
                - message: serviceAccountName is immutable
                  rule: self == oldSelf
            required:
            - bucketAccessClassName
            - bucketClaims
            - protocol
            type: object
            x-kubernetes-validations:
            - message: serviceAccountName is immutable
              rule: has(oldSelf.serviceAccountName) == has(self.serviceAccountName)
          status:
            description: status defines the observed state of BucketAccess
            properties:
              accessedBuckets:
                description: |-
                  accessedBuckets is a list of Buckets the provisioned access must have permissions for, along
                  with per-Bucket access options. This field is populated by the COSI Controller based on the
                  referenced BucketClaims in the spec.
                items:
                  description: AccessedBucket identifies a Bucket and correlates it
                    to a BucketClaimAccess from the spec.
                  properties:
                    bucketClaimName:
                      description: bucketClaimName must match a BucketClaimAccess's
                        BucketClaimName from the spec.
                      maxLength: 253
                      minLength: 1
                      type: string
                    bucketName:
                      description: bucketName is the name of a Bucket the access should
                        have permissions for.
                      maxLength: 253
                      minLength: 1
                      type: string
                  required:
                  - bucketClaimName
                  - bucketName
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - bucketName
                x-kubernetes-list-type: map
                x-kubernetes-validations:
                - message: accessedBuckets is immutable once set
                  rule: oldSelf.size() == 0 || self == oldSelf
              accountID:
                description: |-
                  accountID is the unique identifier for the backend access known to the driver.
                  This field is populated by the COSI Sidecar once access has been successfully granted.
                type: string
                x-kubernetes-validations:
                - message: accountId is immutable once set
                  rule: oldSelf == '' || self == oldSelf
              authenticationType:
                description: |-
                  authenticationType holds a copy of the BucketAccessClass authentication type from the time of
                  BucketAccess provisioning. This field is populated by the COSI Controller.
                enum:
                - ""
                - Key
                - ServiceAccount
                type: string
                x-kubernetes-validations:
                - message: authenticationType is immutable once set
                  rule: oldSelf == '' || self == oldSelf
              driverName:
                description: |-
                  driverName holds a copy of the BucketAccessClass driver name from the time of BucketAccess
                  provisioning. This field is populated by the COSI Controller.
                type: string
                x-kubernetes-validations:
                - message: driverName is immutable once set
                  rule: oldSelf == '' || self == oldSelf
              error:
                description: |-
                  error holds the most recent error message, with a timestamp.
                  This is cleared when provisioning is successful.
                properties:
                  message:
                    description: |-
                      message is a string detailing the encountered error.
                      NOTE: message will be logged, and it should not contain sensitive information.
                    type: string
                  time:
                    description: time is the timestamp when the error was encountered.
                    format: date-time
                    type: string
                type: object
              parameters:
                additionalProperties:
                  type: string
                description: |-
                  parameters holds a copy of the BucketAccessClass parameters from the time of BucketAccess
                  provisioning. This field is populated by the COSI Controller.
                type: object
                x-kubernetes-validations:
                - message: accessedBuckets is immutable once set
                  rule: oldSelf.size() == 0 || self == oldSelf
              readyToUse:
                description: readyToUse indicates that the BucketAccess is ready for
                  consumption by workloads.
                type: boolean
            required:
            - readyToUse
            type: object
            x-kubernetes-validations:
            - message: accountID is immutable once set
              rule: '!has(oldSelf.accountID) || has(self.accountID)'
            - message: accessedBuckets is immutable once set
              rule: '!has(oldSelf.accessedBuckets) || has(self.accessedBuckets)'
            - message: driverName is immutable once set
              rule: '!has(oldSelf.driverName) || has(self.driverName)'
            - message: authenticationType is immutable once set
              rule: '!has(oldSelf.authenticationType) || has(self.authenticationType)'
            - message: parameters is immutable once set
              rule: '!has(oldSelf.parameters) || has(self.parameters)'
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
